/* img{
    width: 30%;
}
div .class1{
    border: 2px solid magenta;
    margin: auto;
    width: 50%;
    height: 100px;
}
p{
    border: 2px solid rgb(6, 58, 23);
    margin: auto;
    width: 30%;
    height: 100px;
}
@media only screen and (max-width: 767px){
    .class1{
        border: 2px solid blue;
    }
} */

body{
    background-color: rgb(239, 231, 247);
}

.block {
    background-color: rgb(136, 99, 170);
    width: 50%;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 20px;
    font-size: 25px;
    color: rgb(239, 231, 247);
}

#text1{
    background-color: rgb(239, 231, 247);
    min-width: 250px;
    min-height: 100px;
    font-size: 15px;
}

button{
    background-color: rgb(239, 231, 247);
    font-size: 17px;
}