body {
    font:14px arial;
    color: #222;
    text-align:center;
    padding:35px; }
  
form, p, span {
    margin:0;
    padding:0; 
    font:14px arial;
}
  
input { 
	font:14px arial; 
}
  
#wrapper {
    margin:0 auto;
    padding-bottom:25px;
    background:#faebfb;
    width:504px;
    border:2px solid #f0acf0; 
}

 #loginform{
 	margin: 20px auto;
 	padding-top: 25px;
 	padding-bottom:25px;
     background:#faebfb;
    width:504px;
    border:2px solid #f0acf0; 
}
 
#loginform { padding-top:18px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; 
}
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { display: inline; }
  
.message { margin:0 0 2px 0; }

#submitmsg{
margin-top: 10px;
background-color: #f0acf0;
color: #222;
}